doctype html
html
  head    
    title About Us Page   
    script(type="text/javascript" src="./jquery.js")		
    script(type="text/javascript" src="./bootstrap/dist/js/bootstrap.js")    
    link(rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="./css/custom.css")   	
  body
      nav(class="navbar, navbar-default")
         div(class="container-fluid") 
            div(class="navbar-header")
               button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                     span(class="sr-only") Toggle Navigation
                     span(class="icon-bar")		
                     span(class="icon-bar") 
                     span(class="icon-bar")
               a(class="navbar-brand" href="#") Project name
            div(id="navbar" class="navbar-collapse collapse")
               ul(class="nav navbar-nav")
                 li: a(href="/") Home
                 li(class="active"): a(href="/about") About
                 li: a(href="/contacts") Contacs
                 li(class="dropdown")
                   a(href="#" clasa="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") Dropdown
                    span(class="caret")
                   ul(class="dropdown-menu")
                     li: a(href="#") Action
                     li: a(href="#") Another Action
                     li: a(href="#") Yet Another Action					 
         // jumbotron
        div(class="container-fluid")
           h1: small About Us page		
           div(class="row")    
              div(class="col-lg-12")
                 p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet, quos, nostrum praesentium est quis dolore velit molestiae repudiandae, maiores ipsam natus impedit. Eaque aliquid, molestias. Facilis tempora dolor architecto!	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, molestias, pariatur. Tempora aperiam eveniet impedit quod beatae quae, tenetur, a ipsum optio nemo placeat temporibus qui porro tempore, soluta accusantium?	
                 p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque rerum unde dolorem libero dolore adipisci eos obcaecati officia mollitia! Asperiores repellendus magni quasi voluptatibus non minima, ea ratione voluptates placeat.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod natus hic, sit in alias, ipsum fugit illum excepturi nam voluptatibus nulla, exercitationem quis quos unde dolorum atque mollitia culpa nobis!	
                 p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, ipsam assumenda voluptate delectus nihil alias eius quia, vel, expedita a ab! Eos odio nemo quas ducimus, debitis est facere aliquam.	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nisi quo, corrupti assumenda ab et atque distinctio facilis saepe cum sequi sed sapiente! Ut fugiat debitis natus magnam facere eligendi!	
                 p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut vero perspiciatis recusandae, voluptates nostrum aliquid fuga, cum voluptatibus consequatur in sequi. Nisi saepe consequatur iusto distinctio dolore animi, debitis facere.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate earum, dicta consequuntur nemo perferendis cum tempore repellendus commodi, sunt voluptatum amet, sed ea nam porro temporibus aspernatur nobis velit explicabo?	
                 p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, maxime asperiores, adipisci tempora quia fugiat pariatur corporis doloremque quidem nostrum minus, porro quasi voluptas hic? Accusamus ex dolorem quo delectus!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dicta modi ad ipsam, necessitatibus harum. Odit repudiandae illum rem animi in odio sed, maiores possimus dolorum, modi expedita adipisci quisquam?  
                 p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas laboriosam amet, nihil voluptas eum assumenda provident cupiditate mollitia quos quis hic. Doloremque quas blanditiis ad eligendi quod, harum mollitia excepturi.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi necessitatibus id in nulla hic suscipit rerum natus incidunt doloremque provident, quos repellendus nam, quae, molestiae eos, ab aspernatur aliquam numquam.   
                 p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex beatae quod, porro eveniet dolorum, et obcaecati mollitia tempore ratione perspiciatis ipsa quibusdam incidunt explicabo veniam nemo doloremque tempora magni ullam.  
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui perspiciatis quo explicabo quis cum mollitia molestiae vel, asperiores possimus quam, labore provident, veritatis, aliquam nostrum ab ullam nisi repellat perferendis.       			