doctype html
html
  head    
    title Home Page   
    script(type="text/javascript" src="./jquery.js")		
    script(type="text/javascript" src="./bootstrap/dist/js/bootstrap.js")    
    link(rel="stylesheet" type="text/css" href="./bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="./css/custom.css")    		
  body
      nav(class="navbar, navbar-default")
         div(class="container-fluid") 
            div(class="navbar-header")
               button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                     span(class="sr-only") Toggle Navigation
                     span(class="icon-bar")		
                     span(class="icon-bar") 
                     span(class="icon-bar")
               a(class="navbar-brand" href="#") Project Name
            div(id="navbar" class="navbar-collapse collapse")
               ul(class="nav navbar-nav")
                 li(class="active"): a(href="/") Home
                 li: a(href="/about") About
                 li: a(href="/contacts") Contacs
                 li(class="dropdown")
                   a(href="#" clasa="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false") Dropdown
                    span(class="caret")
                   ul(class="dropdown-menu")
                     li: a(href="#") Action
                     li: a(href="#") Another Action
                     li: a(href="#") Yet Another Action					 
         // jumbotron
        div(class="container-fluid")
           h1: small Home Page		
           div(class="row")           		  
           div(class="jumbotron")
              div(class="row")
                 div(class="col-lg-6")
                    p(class="in-jumbo")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit ex adipisci corrupti, porro nostrum quis dolor eligendi molestias aperiam facilis ipsa ipsam quas, explicabo, qui eveniet nam illo consequuntur distinctio.
                 div(class="col-lg-6")
                    butoon(class="btn btn-primary pull-right") Follow Me	
           div: p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, itaque, quo dolorum facilis, molestias consequuntur unde suscipit atque ipsum soluta quod aspernatur error totam nesciunt deleniti enim modi blanditiis necessitatibus!   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore soluta, voluptas non ullam aut, repudiandae sequi maiores libero fugit. Quaerat illum earum quia, laudantium explicabo alias minus assumenda asperiores ratione.   
           p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum neque, necessitatibus quidem eaque voluptatibus deleniti, iusto eius libero. Aperiam tempore itaque non ullam quas omnis, quaerat ex nemo excepturi fugit!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi fugiat debitis qui ipsa in, mollitia distinctio doloribus neque velit, ipsum, harum pariatur incidunt sit minima corrupti. Itaque at voluptates, optio!    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, atque magnam ipsum natus dolorum magni aliquam vero suscipit enim, necessitatibus omnis in minus error accusamus esse, iure id impedit quasi. 		 
           p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit asperiores ducimus saepe nihil nulla deserunt magnam consectetur ex praesentium dolorem tenetur maxime ullam a illum excepturi, perspiciatis velit sint. Ipsa.
           p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam tempora autem quaerat harum fugiat sed nam debitis nihil, eius dignissimos in architecto eligendi! 
